*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.products{
  padding: 30px 40px;
  width: 100%;
}
.products h2{
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #010f1c;
}
.products p{
  margin-top: 10px;
  color: #9a9a9a;
}
.products .container{
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.products .container .filter{
  padding: 20px 30px;
}
.products .container .filter .categories h3{
color: #010f1c;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
}
.products .container .filter .categories ul{
  margin-top: 10px;
}
.products .container .filter .categories ul li{
  list-style: none;
  margin-top: 20px;
  color: #010f1c;
  cursor: pointer;
}
.products .container .productbox{
  margin-top: 8%;
}
.products .container .productbox .contant{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products .container .productbox .contant .box{
  padding: 10px 20px;
  overflow: hidden;
  width: 250px;
  height: 380px;
  border: 1px solid #e2e0e0;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}
.products .container .productbox .contant .box:hover{
  box-shadow: rgba(0,0,0,0.35) 0px 3px 8px;
}
.products .container .productbox .contant .box .img_box{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e0e0;
}
.products .container .productbox .contant .box .img_box img{
  width: 300px;
  height: 250px;
  margin-right: 50px;
}
.products .container .productbox .contant .box .img_box .icon{
  z-index: 1;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  transition: 0.5s;
}