*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.cartContainer{
  padding: 40px 50px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #9a9a9a;
}
.cartContainer .emptyCart{
  margin-top: 30px;
  margin-left: 40%;
}
.cartContainer .emptyCart h2{
  font-size: 32px;
  color: #010f1c;
  text-decoration: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}
.cartContainer .emptyCart .emptyCartBtn{
margin-left: 70px;
text-decoration: none;
color: #fff;
padding: 10px 20px;
background: #010f1c;
}
.cartContainer .content{
  max-width: 100%;
  padding: 20px 30px;
}
.cartContainer .content .cart_item{
  padding: 20px 30px;
  display: flex;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.cartContainer .content .cart_item .img_box{
padding: 20px 20px;
background: #f1f1f1;
}
.cartContainer .content .cart_item .img_box img{
  width: 200px;
  height: 250px;
}