*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.cartContainer{
  padding: 40px 50px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #9a9a9a;
}
.cartContainer .emptyCart{
  margin-top: 30px;
  margin-left: 40%;
}
.cartContainer .emptyCart h2{
  font-size: 32px;
  color: #010f1c;
  text-decoration: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}
.cartContainer .emptyCart .emptyCartBtn{
margin-left: 70px;
text-decoration: none;
color: #fff;
padding: 10px 20px;
background: #010f1c;
}